astropy==7.2.0
xarray>=2022.06.0
myst-nb==1.4.0
pooch
netCDF4
msgpack-numpy>=0.4.8
cf-xarray>=0.6
sphinx>=8.0.0,<9.0.0
furo
ipython
ipykernel
jupyter_client
nbsphinx
matplotlib
sphinx-autosummary-accessors
